.best{
    
        background: url('../images/best/Rectangle 1.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
}
.container--best{

        min-height: 650px;
        height: 100vh;
        min-width: 950px;
        width: 100%;
        display: flex;
        flex-direction: column;

}
    
.best__title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'gagalinregular';
        font-size: 72px;
        color: #2f3234;
        margin-top: -9.5%;
        margin-left: 1.1%;
    
}

.best__content{
        margin-top: -5.5%;
}

.content-best__list{
        display: flex;
        align-items: center;
        padding: 50px 86px 0 47px;
}
.content-best__item {
        list-style: none;
        width: 33%;
        flex: 1 0 auto;
        display: flex;
        align-self: baseline;
}
.item-content-best__list{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
.item-content-best__title{
        font-family: 'lifehackmedium';
        font-size: 23.1px;
        padding-top: 10%;
        /* padding-right: 0px; */
        /* letter-spacing: 0; */
        width: 80%;
        text-align: center;
        line-height: 29px;
        height: 22%;
    
    
}
.item-content-best__text{
        font-family: 'ubuntulight';
        font-size: 14px;
        color: #575959;
        text-align: center;
        line-height: 24px;
        width: 102%;
        padding-top: 6%;
    
    
}
    
    