.best{
    
        background: url('../images/best/rectangle.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        min-height: 40.625rem;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        @include phones{
                min-height: auto;
        }  
                .title{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: -8%;
                        margin-bottom: 8%;
                        margin-left: 1.1%;
                        font-weight: normal;
                        @include phones320{
                                font-size: 4rem;
                                margin-top: 0;
                        }   
                } 
                  
                      
}
.container--best{

        margin: 0 auto;
        position: relative;
        max-width: 58.75rem;
        width: 95%;
        display: flex;
        flex-direction: column;

}
    
.best__list{
        display: flex;
        margin: 0;
        padding: 0;
        @include phones{
                flex-direction: column;
                padding: 0;
        }
}

.best__item:nth-child(1){
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 2%;
        width: 33vw;
        @include phones {
                width: 100%;
                margin-bottom: 5%;
        }
        .best__icon{
                fill: $orange;
                width: 98px;
                height: 88px;
                
        } 
                @include phones {
                        flex-direction: row;
                }
        
}
.best__item:nth-child(2){
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 2%;
        width: 33vw;
        @include phones {
                width: 100%;
                margin-bottom: 5%;
        }
        .best__icon{
                fill: $yellow;
                width: 98px;
                height: 88px;
        } 
                @include phones {
                        flex-direction: row;
                }
        
}
.best__item:nth-child(3){
        display: flex;
        align-items: center;
        flex-direction: column;
        
        width: 33vw;
        @include phones {
                width: 100%;
                
        }
        .best__icon{
                fill: #99cc66;
                width: 98px;
                height: 88px;
        } 
                @include phones {
                        flex-direction: row;
                }
        
}


.best-item__deck{
        text-align: center;
        width: 100%;
}
.best-item__title{
        font-family: 'lifehackmedium';
        font-size: rem(23.1px);
        font-style: normal;
        
        text-align: center;
        line-height: rem(29px);
        &:nth-child(3){
                padding-top: 9px;
        }
        
    
    
}
.best-item__text{
        font-family: 'ubuntulight';
        font-size: rem(14px);
        color: #575959;
        text-align: center;
        line-height: rem(24px);
        font-style: normal;
        
        
    
    
}
    
    