.burger-slider{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,#f9b43b 0,#eb8c38 40%,#eb8c38 60%,#eb8c38 0,#f9b43b);
    display: flex;
    align-items: center;
    justify-content: center;
   
    .fp-tableCell{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }


}

.container-bugrer{
    width: 95%;
    height: 75%;
    position: relative;
    @include tablets{
        height: 100%;
    }

}
.slider{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}
// slider arrow

.slider__arrow-left{
   
    position: absolute;
    top: 47%;
    left: -5%;
    @include tablets{
        left: -2.5%;
    }
    
}
.slider__arrow-right{
    
    position: absolute;
    top: 47%;
    right: -5%;
    @include tablets{
        right: -2.5%;
    }
}
.arrow-left__icon{
    fill: $white;
    width: 24px;
    height: 30px;
    transform: rotate(90deg);
}
.arrow-right__icon{
    fill: $white;
    width: 24px;
    height: 30px;
    transform: rotate(-90deg);
}



.slider__list{
    height: 100%;
    width: 100%;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__item{
    width: 100%;
    display: inline-block;
    height: 100%;
    @include phones{
        
        height: 100vh;
    }
}

.slider__item-box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    white-space: normal;
    @include tablets{
        flex-direction: column;
        align-items: center;
    }
}
// slider left-part

.slider__left{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    @include tablets{
        width: 70%;
        height: 50%;
        margin-top: 8%;
        justify-content: center;
    }
    @include phones{
        
        width: 100%;
    }

}

.slider__img{
    width: 413px;
    height: 329px;
    @include tablets{
        width: 320px;
        height: 250px;
    }
    @include phones{
        width: 228px;
        height: 196px;
    }
}
.slider-left__upper{
    position: absolute;
    top: 2%;
    left: 0;
    width: 90px;
    height: 90px;
    background-color: #ff9933;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor:pointer;
    @include tablets{
        top: 0;
        
    }
    @include phones{
        width: 70px;
        height: 70px;
    }
    &:hover{
        background-color: $orange;
        transition: .5s;
            .slider-left-uper-box{
                position: absolute;
                top: 0;
                left: 100%;
                .ingridients{
                    transition: .5s;
                    width: 270px;
                    height: 331px;
                    overflow: initial;
                    @include tablets{
                        width: 220px;
                        height: 259px;
                        padding: 7px 0 0 0;
                    }
                    @include phones{
                        width: 190px;
                        height: 240px;
                        padding: 3px 0 0 0;
                    }
                        .ingridients__item{
                            transition: 1.6s;
                            opacity: 1;
                        }
                } 
            }   
    }
}
.slider-left__upper-icon{
    width: 48px;
    height: 43px;
    fill: $white;
    @include phones{
        width: 34px;
        height: 43px;
    }
}
.slider-left__upper-text{
    font-family: 'gagalinregular';
    font-size: 12px;
    color: $white;
    margin: 0;
    padding: 0;
}
.slider-left-uper-box{
    position: relative;
}

.ingridients {
    width: 0px;
    height: 0px;
    overflow: hidden;
    border-radius: 5px;
    background-color: $white;
    opacity: 0.9;
    position: absolute;
    top: 2%;
    left: 22%;
    margin: 0;
    padding: 15px 0 0 0;
    
    
}
    
.ingridients__item {
      opacity: 0;  
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      @include tablets{
        font-size: 13px;

    }
    @include phones{
        font-size: 12px;
    }
      &:first-child{
          .ingridients__img{
              fill: $orange;
          }
      }
      &:nth-child(2){
          .ingridients__img{
              fill: $yellow;
          }
      }
      &:nth-child(3){
        .ingridients__img{
            fill: #99cc33;
        }
    }
    &:nth-child(4){
        .ingridients__img{
            fill: $orange;
        }
    }
    &:nth-child(5){
        .ingridients__img{
            fill: #99cc33;
        }
    }
    &:last-child{
        .ingridients__img{
            fill: $yellow;
        }
    }
    
}
    
.ingridients__img {
      width: 50px;
      height: 50px;
      margin-left: 20px;
      @include tablets{
        width: 40px;
        height: 40px;
    }
    @include phones{
        width: 33px;
        height: 38px;
    }

    
}



.ingridients__title {
      width: 30%;
      
}
.ingridients__weight{
    margin-right: 16px;
    
}

.slider-left__bottom{
    position: absolute;
    bottom: 4%;
    left: 0%;
    @include tablets{
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
    }
}


.slider-left__bottom-icon{
    width: 63px;
    height: 62px;
    fill: $white;
    opacity: 0.4;
    position: relative;
    @include phones{
        width: 46px;
        height: 56px;
    }

}

.slider-left__bottom-text{
    position: absolute;
    top: 8px;
    text-align: center;
    font-family: 'gagalinregular';
    font-size: 16px;
    color: $white;
    line-height: 32px;
    opacity: 0.4;
    @include phones{
        font-size: 14px;
        line-height: 26px;
    }

}


// slider right-part

.slider__right{
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    @include tablets{
        width: 70%;
        text-align: center; 
    }
    @include phones{
        
        width: 100%;
    }
    
    .title{
        line-height: 94%;
        margin: 0;
        opacity: 0.8;
        @include tablets{
            opacity: 1;
            width: 96%;
            font-size: 4rem; 
        }
        @include phones{
            
            font-size: 3.5rem;
        }
    }
    
}

.slider-right__text-block{
    margin-top: 4%;
    @include tablets{
        margin-top: 0;
    }
}
.slider-right__text{
    font-family: "ubuntulight";
    font-size: .875rem;
    color: $white;
    line-height: 1.8;
    @include phones{
        
        line-height: 1.1;
    }

}

.slider-right__order{
    display: flex;
    @include tablets{
        align-items: center;
        justify-content: center;
    }
    
}
.slider-right__price{
    display: flex;
    align-items: baseline;
    margin-right: 6%;
    
    
}
.slider-right__price-num{
    font-family: "gagalinregular";
    font-size: 72px;
    color: $orange;
    margin: 0 7px 0 0;
    @include tablets{
        font-size: 61px;
    }
    @include phones{
        font-size: 45px;
    }


}
.slider-right__price-letter{
    font-family: "gagalinregular";
    font-size: 27px;
    color: $orange;
    margin: 0;
    vertical-align: bottom;
    @include phones{
        font-size: 21px;
    }
    
    
}
.slider-right__order-button{
    margin-top: 5%;
    @include tablets{
        margin-top: 0;
    }
}