.delivery{
    background: url('../images/delivery/order.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    
    height: 100vh;
    width: 100%;
    @include tablets {
        margin-left: 0;
        min-height: auto;
    }
    @include phones {
         min-height: auto;
    }
    .title{
        text-align: center;
        font-weight: normal;
        margin-top: rem(-87px);
        margin-left: rem(36px);
        @include tablets {
            margin-left: 0;
            margin-bottom: 2%;
            margin-top: 2%;
            font-size: 3.8rem;
            
        }
        @include phones {
             font-size: 3.5rem;
             margin-top: 0;
        }
    
    }
}

.container--delivey{
    max-width: rem(940px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.delivery__form-container{
    display: flex;
    padding: 0 rem(20px);
    
  
    @include tablets {
      flex-direction: column;
      align-items: center;
      padding: 0; 
    }
}
  
.delivery__form-col {
    width: 50%;
    flex: 1;
    margin-top: rem(12px);
    
  
    @include tablets {
      width: 70%;
      margin-left: 0;
    }
    @include phones {
        width: 95%;
        margin-left: -15px;
      }
}
  
.delivery__form-row {
    width: 100%;
    margin-bottom: rem(15px);
    display: flex;
    @include phones {
        width: auto;
        margin-left: 0;
        margin-bottom: 2%;
    }
    @include phones320 {
        margin-bottom: 2%;
    }
}
.delivery__form-name{
    font-family: 'ubunturegular';
    color: $white;
    font-size: rem(14px);
    padding-bottom: rem(5px); 
}
   
.delivery__form-input {
    width: 100%;
    padding: rem(5px);
    border: none;
    border-radius: 5px;
    outline-color: #f9b43b;
}
  
.delivery__form-block {
    display: block;
    width: 100%;
    flex: 1;
    margin-left: rem(21px);
    @include phones{
        &:nth-child(4){
            content: '';
            display: none;
        }
    }
  }
  

  
.delivery__form-input_textarea {
    resize: none;
    height: rem(109px);
  }
  
.delivery__form-buttons{
        padding-left: rem(21px);
        padding-top: rem(12px);
        @include phones {
            margin-left: 13%;
            padding-left: 0;
        }
        @include phones320 {
            margin-left: 10%;
        }
}
  
.delivery__radio {
    position: relative;
    white-space: nowrap;
    margin-right: rem(16px);
    cursor: pointer;
    display: flex;
    align-items: center;
    @include phones{
        margin-left: 5%;
        margin-bottom: 4%;
        margin-top: 3%;
    }
    @include phones320{
        margin: 0;
        margin-left: 3%;
    }
}

.delivery__radio_checkbox{
    direction: block;
    @include phones{
        padding-left: 24%;
    }
    @include phones320{
        padding-left: 22%;
    }
}
  
.delivery__radio-elem {
    position: absolute;
    top: 0;
    left: rem(-9999px);
}
  
.delivery__radio-fake {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    background: #fff;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: rem(0px);
      height: rem(0px);
      border-radius: 50%;
      background: $orange;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: width .3s, height .3s;
    }
}
  
.delivery__radio-elem:checked {
    &+.delivery__radio-fake {
      &:after {
        width: rem(8px);
        height: rem(8px);
      }
    }
}
  
.delivery__radio-title {
    font-size: rem(14px);
    color: #fff;
    margin-bottom: rem(1px);
    margin-left: rem(10px);
}
  
.delivery__radio_checkbox {
    .delivery__radio-fake {
      border-radius: 0px;
    }
    .delivery__radio-elem {
        &+.delivery__radio-fake {
            &:after {
            content: "";
          background: transparent;
            }
        }
    }
}
.delivery__radio_checkbox {
    .delivery__radio-fake {
      border-radius: 0px;
    }
    .delivery__radio-elem:checked {
        &+.delivery__radio-fake {
            &:after {
        
                background: url("../images/icons/check.png") 50% no-repeat transparent;
                background-size: contain;
                width: rem(11px);
                height: rem(9px);
            }
        }
    }
}



.delivery__form-button {
    margin-right: rem(20px);
    border: 0;
    background: $orange;
    font-size: rem(13px);
    text-transform: uppercase;
    border-radius: 5px;
    color: $white;
    font-family: ubunturegular;
    padding: rem(10px) rem(15px);
    cursor: pointer;
    &:first-child:hover{
        background: darken($color: $orange, $amount: 10%);
        transition: .5s;
    }
    &:last-child:hover{
        text-decoration: underline;
    }
    @include phones{
        margin-top: 0%;
       
        margin-left: 10%;
    }
}
  
.delivery__form-button_reset {
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    background: transparent;
}