.header{
    padding-top: 0.79%;
    display: flex;
    justify-content: center;
    @include tablets{
        margin-left: 1%;
    }
    @include phones{
        display: flex;
        justify-content: space-between;

    }
}
.greeting-page{
    background: url('../images/firstpage/video-bg.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    min-height: rem(650px);
    height: 100vh;
    min-width: rem(950px);
    width: 100%;
    .text__title{
        font-weight: normal;
        margin-bottom: rem(-48px);
        margin-top: rem(71px);
        @include tablets {
            margin-top: -47px;
            margin-bottom: 8%;

        }
        @include phones{
            font-size: 3.5rem;
            margin-top: -6px
        }
        
        
    
    }
    @include tablets{
        max-width: 768px;
        min-height: 100vh;
        min-width: auto;
    }
    @include phones{
        max-width: 480px;
        min-height: 100vh;
        min-width: auto;
    }
}

.header__logo{
    margin-right: 19.9%;
    z-index: 9999;

    @include phones{
        margin-left: 4%;
        margin-right: 0;
    }
    
}

.navigation{
    display: flex;
    
    margin-top: rem(12px);
    @include tablets{
        display: none;
    }
    @include phones{
        display: none;
    }
}
.navigation__list{
    display: flex;
    color: $white;
    flex: 1 1 auto;
    
    margin-right: -4%;
    flex-wrap: wrap;
}
.navigation__item{
    padding-right: 2.307em;
    padding-left: 0.384em;
    font-family: 'ubuntumedium';
    font-size: rem(13px);
    &:hover{
        text-decoration: underline;
    }
    
    
}

.navigation__link{
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
}
.navigation__item:nth-child(1){
    list-style: none;
    padding-left: 0;
    
}

//ORDER

.order{
    align-items: center;
    justify-content: center;
    margin-top: rem(19px);
    @include tablets {
        margin-right: -22%;
    }
    @include phones320 {
        margin-right: -13%;
    }
}
.order__link{
    color:#ffffff;
    text-decoration: none;
    font-family: 'ubuntumedium';
    font-size: rem(13px);
    text-transform: uppercase;


}
.order__button{
    width: 7.462em;
    height: 2.692em;
    background: $orange;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
        &:hover{
            background: darken($color: $orange, $amount: 10%);
            transition: .3s;
            transform: scale(1.05) translate3d(0,0,0);
            @include shadow(1);
        }
}

    //style hamburger - fullscreen menu

.header__menu {
    flex: 1;
    text-align: right;
    margin-right: rem(20px);
    display: none;
    
  
    @include tablets {
      justify-content: center;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      padding: 80px 5% 0;
      z-index: 3;
      overflow: auto;
      /* visibility: hidden; */
      display: none;
      text-align: center;
      
      
    }
  
    &_show {
      
      @include tablets {
        display: block;
        background-color: rgba(47, 50, 53, 0.97);
        
      }
    }
}


.header__menu-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 17%;
    padding: 0;
    
}


.header__menu-item{


    &:last-child{
        .header__menu-link:after{
            display: none;
        }
    }

    

}

.header__menu-link{
    text-decoration: none;
    color: $white;
    font-family: "ubunturegular";
    font-size: rem(24px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
    
        &:after{
            content: '';
            width: rem(7px);
            height: rem(7px);
            background-color: $white;
            border-radius: 50%;
            display: block;
            margin: 5% auto;
        }
        &:hover{
            text-decoration: underline;
        }
    

}



  
  //style hamburger menu
.hamburger {
    position: absolute;
    display: none;
    width: $hamburger-width;
    height: $hamburger-height;
    z-index: 999;
    cursor: pointer;
  
    @include tablets {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      margin-right: 8%;
      margin-top: 1.1875rem;
    }
    @include phones {
        margin-right: 4%;
    }
}
  
.hamburger__line {
    width: 100%;
    height: 4px;
    margin: 0 0 6px 0;
    background: $hamburger-bg-color ;
    border-radius: $hamburger-border-radius;
    transition:  transform 0.3s, opacity 0.1s;
    &:last-child {
      margin-bottom: 0;
    }
}
  
.hamburger__line_hide-js {
    opacity: 0;
    transform:  translateX(-42px);
}
  
.hamburger__line_top-js {
    position: absolute;
    top: 0;
    transform: rotate(45deg) translateY(17px);
}
  
.hamburger__line_bottom-js {
    position: absolute;
    bottom: 4px;
    transform: rotate(-45deg) translateY(-17px);
}



.greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72%;
    width: 100%;
    @include tablets{
        flex-direction: column;
        height: 84%;
        width: 100%;
    }
    @include phones320{
        width: 326px;
    }
}
.greeting__img{
    width: 100%;
}
.greeting__img-block{
    
    margin-right: 1.725rem;
    width: 50%;
    height: rem(360px);
    padding-left: 2%;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    @include tablets{
        width: 450px;
        height: 56%;
        margin-right: -11px;

    }
    @include phones {
        width: 315px;
        
        height: 65%;
    }
    @include phones320{
        margin-right: 26px;
        width: 280px;
    }
    
    
}
.greeting__text{
    margin-left: -1%;
    align-items: center;
    flex: 1 1 auto;
    @include tablets {
        text-align: center;
    }
    @include phones{
        margin-left: 6%;
    }
    @include phones{
        margin-left: 0;
    }
}



.text__item{
    font-family: 'lifehackmedium';
    font-size: rem(62px);
    color: #ffffff;
    line-height: 1em;
    @include tablets {
        width: 99%;
        margin-top: -6%;
    }
    @include phones{
        font-size: 2.875rem;
    }
    
    

}
.arrow{
    display: flex;
    justify-content: center;
}

.arrow__link{
    background: url(../images/icons/arrow-scroll.svg);
    background-repeat: no-repeat;
    height: 15px;
    width: 30px;
    margin-top: 4.4%;
    margin-right: rem(-7px);
    &:hover{
        transition: .5s;
        transform: scale(3) translate3d(0,0,0);
        @include shadow(1);
    
    }
    @include phones {
        margin-right: -4%;
        margin-top: -5%;
    }
    
}