
.container--reviews{
    min-height: 650px;
    height: 100vh;
    min-width: 950px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.reviews__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.userpic-list__item{
    list-style: none;
    width: 25%;
    min-width: 275px;
    height: 50vh;
    min-height: 325px;
    margin: 0;
    padding: 0;
    filter: grayscale(100%);


}

.userpic-item__list{
    list-style: none;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    padding: 0;
    margin-top: -17.1%;
    &:hover{
        content: "";
        opacity: 0.6;
        transition: .5s;
    }
}

.content-name{
    font-family: 'gagalinregular';
    font-size: 14px;
    display: flex;
    color: $white;
    padding-top: 47px;
    margin-left: 19px;
    margin-top: 17.1%;
}
.content-text{
    font-family: "ubunturegular";
    width: 85%;
    font-size: 14px;
    margin-left: 18px;
    margin-top: 20px;
    line-height: 1.74em;
    color: $white;

}

.content-button{
    width: 110px;
    height: 35px;
    border-radius: 3px;
    background-color: $dark;
    margin-left: 7%;
    margin-top: 4%; 
}

.content-button__link{
    width: 110px;
    height: 35px;
    border-radius: 5px;
    background-color: $dark;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
        &:hover{
            background-color: darken($color: $dark, $amount: 10%);
            transition: 0.5s;
            color: $white;
            
        }
}
