.reviews{
    height: 100vh;
    
}

.reviews__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.reviews__item{
    margin: 0;
    padding: 0;
    width: 25%;
    height: 50%;
    @include tablets{
        width: 50%;
        height: 25%;
    }
    @include phones{
        
    }
}

.review{
    width: 100%;
    height: 100%;
    position: relative;
        

}

.review__photo{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    filter: grayscale(100%);
    background-position: 50%;
    background-size: cover;


}

.review__hover-content{

    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0;
    background:rgba(0, 0, 0, 0.6);
    padding: 0;
    transform: scale(0.8);
    z-index: 9999;
    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
        &:active{
            content: '';
            opacity: 1;
            transition: .5s;
            transform: scale(1);
        }
    }

    &:hover{
        content: "";
        opacity: 1;
        transition: .5s;
        transform: scale(1);
    }
}


.review__name{
    font-family: 'gagalinregular';
    font-size: rem(14px);
    display: flex;
    color: $white;
    padding-top: rem(47px);
    margin-left: rem(19px);
    margin-top: 17.1%;
    text-transform: uppercase;
    @include tablets{
        margin-top: 4%;
        padding-top: 0;
        margin-left: 0;
    }
    @include phones{
        margin-top: 32%;
        padding-top: 0;
        margin-left: 0;
        margin-bottom: 12%;
    }
    @include phones{
        margin-top: 16%;
        padding-top: 0;
        margin-left: 0;
        margin-bottom: 12%;
    }
}
.review__text{
    font-family: "ubunturegular";
    width: 85%;
    font-size: rem(14px);
    margin-left: rem(18px);
    margin-top: rem(20px);
    line-height: 1.74em;
    color: $white;
    @include tablets{
        margin-top: 4%;
        margin-left: 0;
    }
    @include phones{
        display: none;
        
    }

}

.review__button{
    cursor: pointer;
    margin-left: 7%;
    margin-top: 4%;
    width: rem(110px);
    height: rem(35px);
    border-radius: 5px;
    background-color: $dark;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
        &:hover{
            background-color: darken($color: $dark, $amount: 10%);
            transition: 0.5s;
            color: $white;
            
        }
    @include phones{
        margin-left: 0;
    }
}
